[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=teles
WorkingDirectory=/home/teles/sites/SITENAME/source
ExecStart=/home/teles/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi.user.target
